

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/html">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List CAR</title>
</head>
<body>
<h2>Get car</h2>

<form th:action="@{/cars}" method="POST" th:object="${car}">
    <div>
        Brand: <input type="text" th:field="*{brand}" id="brand" placeholder="Write car Brand" />
        <div style="color:red" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" />
        <br><br>
        Series: <input type="text" th:field="*{series}" id="series" placeholder="Write car Series" />
        <div style="color:red" th:if="${#fields.hasErrors('series')}" th:errors="*{series}" />
        <br><br>
        Country: <input type="text" th:field="*{country}" id="country" placeholder="Write car Country" />
        <div style="color:red" th:if="${#fields.hasErrors('country')}" th:errors="*{country}" />
        <br><br>
        <input type="submit" value="OK">
    </div>
</form>

<!--<p th:text="${showCarMSG}" />-->


<!--    <form th:action="@{/car/cars}" method="get">-->
<!--        Brand: <input type="text" name="carBrand"-->
<!--            placeholder="Write car Brand"/>-->
<!--        <br><br>-->
<!--        Series: <input type="text" name="carSeries"-->
<!--               placeholder="Write car Series"/>-->
<!--        <br><br>-->
<!--        Country: <input type="text" name="carCountry"-->
<!--               placeholder="Write car Country"/>-->
<!--        <br><br>-->
<!--    <input type="submit"/>-->
<!--    </form>-->
<!--<p th:text="${showCarMSG}"></p>-->
<div>
    <h2>CAR LIST</h2>
    <table th:border="1">
        <tr>
            <th>Brand</th>
            <th>Series</th>
            <th>Country</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:utext="${car.getBrand()}"></td>
            <td th:utext="${car.getSeries()}"></td>
            <td th:utext="${car.getCountry()}"></td>
        </tr>
    </table>
</div>
<br><br>
<h2>How many cars do you want to see on the CAR LIST?</h2>

<form th:action="@{/cars}" method="get">
    <input type="number" name="count"
           placeholder="How many cars show?"/>

    <br>
    <br>

    <input type="submit"/>

</form>

</body>
</html>